.p {background-color: rgb(202, 218, 207);}
h1{font-family: Arial, sans-serif; color: rgb(27, 187, 174); font-style: normal ;}
a {color: rgb(62, 27, 187); text-decoration: none; font-size: 18px;}
table{border-collapse: collapse; width: 100%;}